@model TestingAkbas.Models.Fabric

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fabric</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityComposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityComposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatternType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatternType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawFabricPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawFabricPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomesticPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomesticPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExportPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExportPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
